<li>
    {{burger_name}}

    {{#if devoured}}
    <i class="fas fa-check-square change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}"></i>
    <i class="fas fa-trash-alt text-danger delete-burger" data-id="{{this.id}}"></i>
    {{else}}{{/if}}
</li>
